pysqlite3-binary
python-docx
docx
PyPDF2
google-generativeai
textloader
crewai-tools
openai

chromadb

streamlit

langchain

langchain-openai

langchain-community

langchain-chroma

crewai

crewai_tools

python-dotenv

tiktoken
 
lolviz
